@{
    ViewBag.PageTitle = "Välkommen till";
}

@section styles{
<link rel="stylesheet" href="~/css/landing-page.css" />
}

<div class="landing">
    <div class="content">
        <h1>Välkommen till Westcoast Cars</h1>
        <h2>Vi tillhandahåller begnade bilar</h2>
        <p>Med högsta kvalite allt ifrån sportbilar till<br>
            familjebilar</p>
        <a class="btn btn-outline-light" style="width: 200px" asp-action="index" asp-controller="Vehicles">Se våra
            bilar</a>
    </div>
</div>