@{
    ViewBag.Title = "Bilar i lager";
}

@section styles{
<link rel="stylesheet" href="~/css/landing-page.css">
}


<h1>Administrationsverktyg</h1>
<h2>Här kan ni hantera fordon och användare</h2>
