@model IList<westcoast_cars.Models.VehicleModel>
<h1>Bilar i lager</h1>

<div>
    <a asp-action="Create" asp-controller="Vehicles">Create new vehicle</a>

</div>
<br>
@foreach (var vehicle in Model)
{
    <a asp-action="Details" asp-controller="Vehicles" asp-route-vehicleId=@vehicle.Id>
    @vehicle.Manufacturer - @vehicle.Model
</a><br>
}