<nav>
    <h1>Westcoast Cars</h1>
    <ul>
        <li>
            <a asp-action="Index" asp-controller="Home">Start</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Vehicles">Bilar i lager</a>
        </li>
    </ul>
</nav>